* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
}

.avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url("https://source.unsplash.com/nKC772R_qog");
  background-size: cover;
  background-position: center;
}
